<main>
    <div class="centrado">
        <div class="textocentrado">
            <h1>KILLER BEER</h1>
            <br>
            <h2>Soy Jose Burgoa</h2>
            <br>
            <p>Bienvenidos a mi aplicación de comercio de vasos. Aquí encontrarás una amplia selección de vasos hechos a base de botellas recicladas, cada uno con diseños personalizados según tus preferencias.</p>
            <br>
            <p>Nuestro objetivo es ofrecerte productos de alta calidad y al mismo tiempo contribuir al cuidado del medio ambiente. Cada vaso está cuidadosamente elaborado, fusionando la creatividad y el reciclaje para brindarte una experiencia única.</p>
            <br>
            <p>Explora nuestra colección y descubre vasos de trago largo, copas para fiestas y vasos con grabados y etiquetas. Además, tenemos la opción de crear diseños personalizados según tus ideas y preferencias. Estamos comprometidos en hacer que tus momentos especiales sean aún más memorables con nuestros vasos personalizados.</p>
            <br>
            <p>Disfruta de la variedad y la calidad que ofrecemos. ¡Únete a nosotros y elige el vaso perfecto para ti!</p>
        </div>
    </div>
</main>