<main>
    <div class="centrado">
        <div class="textocentrado">
            <h1>KILLER BEER</h1>
            <br>
            
            <br>
            <p> Una de las problemáticas que afectan el ambiente es la contaminación por la fabricación y desecho de botellas de vidrio.
            </p>
            <br>
    <p>         Frente a esta problemática y con el fin de mejara las condiciones del ambiente, es que decicí emprender el proyecto de fabricación de vasos ecológicos reutilizando botellas de vidrio. </p>
            <br>
            <p> La creación de Killer Beer, tiene como base la prevención del aumento de la contaminación ambiental. Esto se ve reflejado en mi emprendimiento donde me dedico a la elaboración, uno a uno de vasos 100% a mano, todos nuestros vasos cuentan con el logotipo de mi marca pirograbado en una de sus caras como sello personal de la empresa. Soy proveedor de vasos ecológicos para bares, empresas y particulares.</p>
            <br>
            <p>Disfruta de la variedad y calidad de mis vasos. </p>
                <p>¡Ven y elige el tuyo!</p>
        </div>
    </div >
    <h2 style="display: flex; justify-content: center;margin-bottom: 50px; font-size: 40px">Soy José Burgoa y estos son algunos de mis modelos </h2>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img style="height: 120px; margin-right: 40px" src="./../img/WhatsApp Image 2023-07-07 at 13.49.36.jpeg" alt="">
            <img style="height: 120px;margin-right: 40px" src="./../img/WhatsApp Image 2023-07-07 at 13.49.54.jpeg" alt="">
            <img style="height: 120px;margin-right: 40px" src="./../img/WhatsApp Image 2023-07-07 at 13.49.55 (1).jpeg" alt="">
            <img style="height: 120px;margin-right: 40px" src="./../img/WhatsApp Image 2023-07-07 at 13.49.55.jpeg" alt="">
        </div>
</main>