<main>
    <div class="container2">
        <h1>BIENVENIDOS</h1>
        <h2>Acá mi catálogo de vasos</h2>
        <h3>Ante cualquier consulta puedes contactarme por vía mail: joseburgoa040@gmail.com </h3>
        <div class="centrado">
            <div>
                <h4>Categorías de productos</h4>
                <h5>            </h5>
                <ul>
                    <li>Vasos trago largo</li>
                    <li>Vaso copón</li>
                    <li>Vasos grabados y vasos con etiquetas</li>
                    <li>Vasos con diseños propio y personalizados</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="cards">
            <div class="card">
                <img src="./../img/copas.jpg" alt="Vaso de trago largo">
                <div class="card-content">
                    <h4>Vasos trago largo</h4>
                    <p>Descripción del producto</p>
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
            <div class="card">
                <img src="./../img/jarra-verde.jfif" alt="Copones de fiesta">
                <div class="card-content">
                    <h4>Vaso Copón</h4>
                    <p>Descripción del producto</p>
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
            <div class="card">
                <img src="./../img/Vaso-grabado.jfif" alt="Vasos grabados y con etiquetas">
                <div class="card-content">
                    <h4>Vasos grabados y vasos con etiquetas</h4>
                    <p>Descripción del producto</p>
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
            <div class="card">
                <img src="./../img/Vasos-azules.jfif" alt="Vasos con diseños propuestos por los clientes">
                <div class="card-content">
                    <h4>Vasos con diseños propio y personalizado</h4>
                    <p>Descripción del producto</p>
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>
</main>