main {
  background-color: #f2f2f2;
  padding: 20px;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.textocentrado {
  text-align: center;
  max-width: 600px;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.card img {
  width: fit-content;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}

/* Carta de Perfil */

.cardProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-info p {
  font-size: 16px;
  color: #888888;
}
