* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  background-color: #333;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 80px;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar__links li {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}

.navbar__links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar__links li a:hover {
  color: #ddd;
}

/* FOOTER */
footer {
  background-color: #333;
  padding: 20px 0;
  color: #fff;
}

footer p {
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footertext {
  font-size: 16px;
  margin: 10px;
}

.fas {
  margin-right: 5px;
}
