<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="./../img/birra.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="css/main.css">
    <title>{{title}}</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navbar">
                <div class="row">
                    <div>
                        <img class="navbar__logo" src="./../img/birra.jpeg" alt="LOGO">
                    </div>
                    <!-- Seccion de paginas -->
                </div>
                <div class="row">
                    <ul class="navbar__links">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/products">Productos</a></li>
                        <li><a href="/contact">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    
    {{{body}}}
    <footer>
        <div class="container">
            <div class="footer-content">
                <p class="footertext"><i class="fas fa-phone"></i> +54 9 264-446-5257</p>
                <p class="footertext"><i class="fas fa-map-marker-alt"></i> Tomas Edison y Necochea</p>
                <p class="footertext">Propietario: Jose Burgoa</p>
            </div>
        </div>
    </footer>
    <script src="/js/main.js">console.log("Hola")</script>
</body>

</html>